[Unit]
Description=FRRouting
Documentation=https://frrouting.readthedocs.io/en/latest/setup.html
After=networking.service

[Service]
Nice=-5
Type=forking
NotifyAccess=all
StartLimitInterval=3m
StartLimitBurst=3
TimeoutSec=2m
WatchdogSec=60s
RestartSec=5
Restart=on-abnormal
LimitNOFILE=1024
LimitAS=infinity
LimitDATA=infinity
Environment=ASAN_OPTIONS=detect_leaks=0
ExecStart=/usr/lib/frr/frrinit.sh start
ExecStop=/usr/lib/frr/frrinit.sh stop
ExecStopPost=/usr/lib/cumulus/on-failure-run-support %N
ExecReload=/usr/lib/frr/frrinit.sh reload

[Install]
WantedBy=network-online.target
